.btn{
    padding: 10px 20px;
    text-decoration: none;
    transition: .3s;

    &-inline{
        border: 1px solid $body-primary-color;
        color: $body-fg-color;
        border-radius: 50px;
        display: inline-flex;
        align-items: center;
        
        i{
            margin-right: 10px;
        }

        &:hover {
            background: #00F5BB !important;
            color: #000 !important;
            transition: .3s;
        }

        &:hover > svg > g > path {
            fill: #000;
        }


    }

    &-inline.btn-large{
        font-size: 20px;
        padding: 20px 40px;
        color: $body-primary-color;
    }

    &-primary.btn-large{
        font-size: 20px;
        padding: 20px 40px;
    }

    &-large{
        font-size: 20px;
        padding: 20px 40px;
    }

    &-primary{
        border: 1px solid $body-primary-color;
        color: $body-bg-color;
        background: $body-primary-color;
        border-radius: 50px;
        display: inline-flex;
        align-items: center;
        
        i{
            margin-right: 10px;
        }
    }

    &-container{
        margin-top: 30px;

        *{
            margin-right: 15px;
        }
    }

    & > svg {
        margin-right: 10px;
        width: 13px;
        height: 13px;
    }
}

i{
    &.ma{
        &-phone{
            width: 15px;
            height: 15px;
            display: block;
            background-image: url('../images/phone-icon.svg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}