header{
    display: flex;
    justify-content: space-between;
    background-color: $body-bg-color;
    position: fixed;
    top: 0px;
    padding: 15px 0px;
    left: 60px;
    width: calc(100% - 120px);

    logo{
        color: $body-primary-color;
        font-size: 30px;
        font-weight: bold;
    }

    .menu{
        display: flex;

        &-item{
            color: $body-fg-color;
            display: flex;
            flex-direction: column;
            padding: 10px 20px;
            text-decoration: none;
            transition: .3s;

            &::after {
                content: "";
                display: flex;
                height: 1px;
                width: 0px;
                border-top: 1px solid;
                color: #00F5BB;
                transition: .3s;
            }

            &:hover{
                color: #00F5BB;
                transition: .3s;
            
                &::after {
                    content: "";
                    display: flex;
                    height: 1px;
                    width: 100%;
                    border-top: 1px solid;
                    color: #00F5BB;
                    transition: .3s;
                }
            }
        }
    }
}